<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ChronosX is a sideloaded/root-module manager, not a Play-distributed app. -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".ChronosXApplication"
        android:allowBackup="false"
        android:description="@string/app_description"
        android:icon="@drawable/ic_chronosx"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChronosX">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".lab.BenchmarkResultReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.chronosx.action.BENCHMARK_RESULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
